@import url('https://fonts.googleapis.com/css2?family=Anton&family=Maven+Pro:wght@500&family=Montserrat+Alternates:wght@500&family=Pathway+Gothic+One&family=Righteous&family=Rowdies&family=Titillium+Web:wght@200&display=swap');


/*Main*/
body{
    background-image: url(/images/whitebg.jpg);
    background-size: cover;
}

/*Navigation Bar*/
.container-fluid{
    padding: .5rem 0rem;
    background-color: white;
    margin-top: -.5rem;
}
#logo{
    height: 4.6rem;
    width: 4.6rem;
    margin-left: 2rem;
}
.nav-link{
    margin: 0rem 1rem;
    font-size: 1.3em;
    font-weight: bold;
    letter-spacing: 1px;
    color: gray;
    font-family: 'Maven Pro', sans-serif;
}
.nav-link:hover{
    border-bottom: .5px blue solid;
    color: blue;
}
#rightNB{
    margin-right: 2rem;
    border-bottom: .5px blue solid;
    background-color: rgb(238, 238, 238);
    color: blue;
}

/*title*/
#title{  
    text-align: center;
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 3.5em;
    font-weight: bold;
}

/*Description*/
#about{
    display: flex;
    flex-direction: row;
    margin: 2rem 5rem 0 5rem;
}
#desc{
    width: 60%;
    margin-right: 0;
    margin-left: auto;
    text-align:justify;
    font-size: 1.6em;
    letter-spacing: 3px;
    line-height: 1.8em;
    text-indent: 3em;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
/*div cceonnie img*/
.cceonnie{
    margin-left: 2em;
    height: 22em;
    width: 22em;
}
/*cceonnie img*/
.cceonnie img {
    width: 500px;
}

/*footer*/
ul#shpctg, ul.card-text {
    font-family: 'Titillium Web', sans-serif;
    list-style-type: none;
    margin: 0;
    padding: 0
}
ul#shpctg>li, ul.card-text>li{
    padding: 4px;
    color:#000000;
}
ul#shpctg>li:hover, ul.card-text>li:hover {
    color: #957bda;
    cursor: pointer
}
#footer {
    padding: 2% 7%
}
.card-text{
    letter-spacing: 1px;
    line-height: 2em;
}
.heading {
    font-family: 'Titillium Web', sans-serif;
    font-weight: bold;
    color: black
}
.divider {
    border-top: 2px solid
}