@import url('https://fonts.googleapis.com/css2?family=Anton&family=Maven+Pro:wght@500&family=Montserrat+Alternates:wght@500&family=Montserrat:ital,wght@1,800&family=Pathway+Gothic+One&family=Poppins:wght@700&family=Press+Start+2P&family=Righteous&family=Rowdies&family=Titillium+Web:wght@200&display=swap');

ul {
    margin: 0px;
    padding: 0px;
}
.footer-section {
  background: #142b48;
  position: relative;
}
.footer-cta {
  border-bottom: 1px solid #000000;
}
.single-cta i {
  color: #ffff;
  font-size: 30px;
  float: left;
  margin-top: 8px;
}
.cta-text1 {
  font-family: 'Titillium Web', sans-serif;
  font-weight: 500;
  padding-left: 15px;
  display: inline-block;
  color: #ffff;
}

.cta-text1 img{
  width: 23px;
  height: 23px;
  float: left;
  
}

.cta-text2 {
  font-family: 'Titillium Web', sans-serif;
  font-weight: 500;
  padding-left: 15px;
  display: inline-block;
  color: #ffff;
}

.cta-text2 img{
  width: 25px;
  height: 25px;
  float: left;
}

.cta-text3 {
  font-family: 'Titillium Web', sans-serif;
  font-weight: 500;
  padding-left: 15px;
  display: inline-block;
  color: #ffff;
}

.cta-text3 img{
  width: 25px;
  height: 25px;
  float: left;
}

.cta-text h4 {
  color: #ffff;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 2px;
}

.cta-text span {
  color: #ffff;
  font-size: 15px;
}
.footer-content {
  position: relative;
  z-index: 2;
}
.footer-pattern img {
  position: absolute;
  top: 0;
  left: 0;
  height: 330px;
  background-size: cover;
  background-position: 100% 100%;
}
.footer-logo {
  margin-bottom: 30px;
}
.footer-logo img {
    max-width: 300px;
}
.footer-text p {
  font-family: 'Titillium Web', sans-serif;
  font-weight: 500;
  margin-bottom: 14px;
  font-size: 16px;
  color: #ffff;
  line-height: 28px;
}
.footer-social-icon span {
  color: #ffff;
  display: block;
  font-size: 20px;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 20px;
}
.footer-social-icon a {
  color: #ffff;
  font-size: 16px;
  margin-right: 15px;
}

.footer-social-icon img{
width: 30px;
height: 30px;

}
.footer-social-icon i {
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
}
.facebook-bg{
  background: #3B5998;
}
.twitter-bg{
  background: #55ACEE;
}
.google-bg{
  background: #f1eeee;
}
.footer-widget-heading h3 {
  color: #ffff;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 40px;
  position: relative;
}

.footer-widget-heading img{
  width: 20px;
  height: 20px;
  float: left;
}
.footer-widget-heading h3::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -15px;
  height: 2px;
  width: 50px;
  background: #ffff;
}
.footer-widget ul li {
  display: inline-block;
  width: 50%;
  margin-bottom: 12px;
}
.footer-widget ul li a:hover{
  color: #ffff;
}
.footer-widget ul li a {
  color: #ffff;
  text-transform: capitalize;
  font-family: 'Poppins', sans-serif;
}
.subscribe-form {
  position: relative;
  overflow: hidden;
}
.subscribe-form input {
  width: 100%;
  padding: 14px 28px;
  background: rgb(0, 0, 0);
  border: 1px solid #000000;
  color: rgb(2, 0, 0);
}
.subscribe-form button {
    position: absolute;
    right: 0;
    background: #ff5e14;
    padding: 13px 20px;
    border: 1px solid #ff5e14;
    top: 0;
}
.subscribe-form button i {
  color: rgb(0, 0, 0);
  font-size: 22px;
  transform: rotate(-6deg);
}
.copyright-area{
  background: #47479e;
  padding: 25px 0;
}
.copyright-text p {
  margin: 0;
  font-size: 14px;
  color: #ffff;
}
.copyright-text p a{
  color: #ffff;
}
.footer-menu li {
  display: inline-block;
  margin-left: 20px;
}
.footer-menu li:hover a{
  color: #ffff;
}
.footer-menu li a {
  font-size: 14px;
  color: #ffff;
}

.find-us-logo{
  height: 30px;
  width: 30px;
}
