@import url('https://fonts.googleapis.com/css2?family=Anton&family=Maven+Pro:wght@500&family=Montserrat+Alternates:wght@500&family=Montserrat:ital,wght@1,800&family=Pathway+Gothic+One&family=Poppins:wght@700&family=Press+Start+2P&family=Righteous&family=Rowdies&family=Titillium+Web:wght@200&display=swap');


/*Main*/
body{
  background-image: url(images/HomeBG.png);
  background-size: cover;
  overflow: hidden;
}
*{
  color: white;
  font-family: 'Montserrat', sans-serif;
}

/*Navigation Bar*/
.container-fluid{
  padding: .5rem 0rem;
  margin-top: -.5rem;
}
#logo{
  height: 4.6rem;
  width: 4.6rem;
  margin-left: 2rem;
}
.nav-link{
  margin: 0rem 1rem;
  font-size: 1.3em;
  font-weight: bold;
  letter-spacing: 1px;
  color: white;
}
.nav-link:hover{
  background-color: #142B48;
  color: white;
}
#nav-link-highlight{
  border-bottom: .5px blue solid;
  background-color: rgb(238, 238, 238);
  color: blue;
}
#rightNB{
  margin-right: 2rem;
}

/*Content - Home Page*/
#homebody{
  display: flex;
  flex-direction: row;
  margin: 0 2rem; 
}
#homebodyTxt{
  width: 60%;
  display: inline-block;
}
#homebodyCarousel{
  width: 40%;
  display: inline-block;
}
#intro{
  margin-top: 1em;
  flex-direction: column;
  text-align: center;
  font-size: 1.3rem;
  font-weight: 800;
}
#title{
  flex-direction: column;
  margin: auto;
  margin-left: 1em;
  text-align: left;
  font-size: 6.3rem;
  font-weight: bold;
}