@import url('https://fonts.googleapis.com/css2?family=Anton&family=Maven+Pro:wght@500&family=Montserrat+Alternates:wght@500&family=Pathway+Gothic+One&family=Righteous&family=Rowdies&family=Titillium+Web:wght@200&display=swap');


/*Main*/
body{
    background-image: url(/KMart/images/HomePageBG.png);
    background-size: cover;
}

/*Navigation Bar*/
.container-fluid{
    padding: .5rem 0rem;
    background-color: white;
    margin-top: -.5rem;
}
#logo{
    height: 4.6rem;
    width: 4.6rem;
    margin-left: 2rem;
}
.nav-link{
    margin: 0rem 1rem;
    font-size: 1.3em;
    font-weight: bold;
    letter-spacing: 1px;
    color: gray;
    font-family: 'Maven Pro', sans-serif;
}
.nav-link:hover{
    border-bottom: .5px blue solid;
    color: blue;
}
#rightNB{
    margin-right: 2rem;
}

/*Content - Home Page*/
#homebody{
    display: flex;
    flex-direction: row;
    margin: 1.3em 2rem; 
}
#homebodyTxt{
    width: 65%;
    display: inline-block;
}
#homebodyCarousel{
    width: 35%;
    display: inline-block;
}
#intro{
    margin-bottom: -2rem;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 800;
    font-family: 'Titillium Web', sans-serif;
}
#title{
    margin: auto;
    text-align: center;
    font-size: 10rem;
    font-weight: bold;
    font-family: 'Pathway Gothic One', sans-serif;
}

/*footer
ul#shpctg, ul.card-text {
    font-family: 'Titillium Web', sans-serif;
    list-style-type: none;
    margin: 0;
    padding: 0
}
ul#shpctg>li, ul.card-text>li{
    padding: 4px;
    color:#000000;
}
ul#shpctg>li:hover, ul.card-text>li:hover {
    color: #957bda;
    cursor: pointer
}
#footer {
    padding: 2% 7%
}
.card-text{
    letter-spacing: 1px;
    line-height: 2em;
}
.heading {
    font-family: 'Titillium Web', sans-serif;
    font-weight: bold;
    color: black
}
.divider {
    border-top: 2px solid
}
.Location {
    text-decoration: none;
    color: black
}
*/

ul {
    margin: 0px;
    padding: 0px;
}
.footer-section {
  background: #ffffff;
  position: relative;
}
.footer-cta {
  border-bottom: 1px solid #000000;
}
.single-cta i {
  color: #ff5e14;
  font-size: 30px;
  float: left;
  margin-top: 8px;
}
.cta-text {
  padding-left: 15px;
  display: inline-block;
}
.cta-text h4 {
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 2px;
}
.cta-text span {
  color: #000000;
  font-size: 15px;
}
.footer-content {
  position: relative;
  z-index: 2;
}
.footer-pattern img {
  position: absolute;
  top: 0;
  left: 0;
  height: 330px;
  background-size: cover;
  background-position: 100% 100%;
}
.footer-logo {
  margin-bottom: 30px;
}
.footer-logo img {
    max-width: 200px;
}
.footer-text p {
  margin-bottom: 14px;
  font-size: 14px;
      color: #030000;
  line-height: 28px;
}
.footer-social-icon span {
  color: rgb(0, 0, 0);
  display: block;
  font-size: 20px;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 20px;
}
.footer-social-icon a {
  color: rgb(0, 0, 0);
  font-size: 16px;
  margin-right: 15px;
}
.footer-social-icon i {
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
}
.facebook-bg{
  background: #3B5998;
}
.twitter-bg{
  background: #55ACEE;
}
.google-bg{
  background: #DD4B39;
}
.footer-widget-heading h3 {
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 40px;
  position: relative;
}
.footer-widget-heading h3::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -15px;
  height: 2px;
  width: 50px;
  background: #ff5e14;
}
.footer-widget ul li {
  display: inline-block;
  float: left;
  width: 50%;
  margin-bottom: 12px;
}
.footer-widget ul li a:hover{
  color: #ff5e14;
}
.footer-widget ul li a {
  color: #000000;
  text-transform: capitalize;
}
.subscribe-form {
  position: relative;
  overflow: hidden;
}
.subscribe-form input {
  width: 100%;
  padding: 14px 28px;
  background: rgb(0, 0, 0);
  border: 1px solid #000000;
  color: rgb(2, 0, 0);
}
.subscribe-form button {
    position: absolute;
    right: 0;
    background: #ff5e14;
    padding: 13px 20px;
    border: 1px solid #ff5e14;
    top: 0;
}
.subscribe-form button i {
  color: rgb(0, 0, 0);
  font-size: 22px;
  transform: rotate(-6deg);
}
.copyright-area{
  background: #927474;
  padding: 25px 0;
}
.copyright-text p {
  margin: 0;
  font-size: 14px;
  color: #000000;
}
.copyright-text p a{
  color: #ff5e14;
}
.footer-menu li {
  display: inline-block;
  margin-left: 20px;
}
.footer-menu li:hover a{
  color: #ff5e14;
}
.footer-menu li a {
  font-size: 14px;
  color: #000000;
}