@import url('https://fonts.googleapis.com/css2?family=Anton&family=Maven+Pro:wght@500&family=Montserrat+Alternates:wght@500&family=Montserrat:wght@800&family=Pathway+Gothic+One&family=Poppins:wght@700&family=Press+Start+2P&family=Righteous&family=Rowdies&family=Titillium+Web:wght@200&display=swap');
@import "footer.css";

@keyframes float-in {
  0% {
    opacity: 0;
    top: -50px;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}

/*VARIABLES*/
:root{
  --first-color: #EDDBC0;
  --second-color: #dcfbef;
  --third-color: #ffe8df;
  --accent-color: #ff5151;
  --dark-color: #161616;
  --cceonnie: #3d6098;
  --before: #DC143C;
  --font:'Inter', sans-serif;
  --h1-font-size: 1.5rem;
  --h3-font-size: 1rem;
  --normal-font-size: 0.938rem;
  --smaller-font-size: 0.75rem;
}

/*Main*/
body{
    background-image: url(images/HomeBG.png);
    background-size: contain;
    color: var(--dark-color);
    font-family: var(--font);
    height: auto;
    animation: float-in 1s ease-out forwards;
    position: relative;
    top: -50px;
    opacity: 0;
    
}
*{
  color: white;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
}

a#homeBtn{
  background-color: rgb(95 , 80, 137);
  position: fixed;
  height: 5rem;
  width: 5rem;
  border-radius: 100%;
  bottom: 40px;
  right: 40px;
  outline: none;
  z-index: 99;
  cursor: pointer;
  padding: none;
  animation: none;
}
#homeBtnimg{
  max-width: 100%;
  max-height: 100%;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*Navigation Bar*/

li{
  list-style: none;
}
header{
  
  left: 0;
  position: fixed;
  width: 100%;
  z-index: 99;
  padding: 1.5rem;
  
  
}
nav{
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  height: 5rem;
  padding: 1rem 1rem;
  margin: 0 auto;
  z-index: 999;
}

.toggle__menu,
.close__menu{
  display: none;
}
.nav__list{
  
  display: flex;
}
.nav__item{
 
  padding: 1.4rem 0;
}
.nav__link{
  padding: 2rem 1rem;
}
.nav__link .dropdown{
  padding: 2rem 3rem;
}
.dropdown__link{
  padding: 2rem;
  align-items: center;
}

.logo a{
  margin: 0 1.5rem;
  
}

.nav__link:hover{
  background: #142b48;
  

}
.dropdown__link:hover{
  background: #142b48;  
}


.megamenu{
  position: absolute;
  width: 100%;
  top: 7.1rem;
  left: 0;
  display: flex;
  justify-content: center;
  border-radius: 0 0 5px 5px;
  z-index: -99;
  background-color: #142b48;
  opacity: 0;
  visibility: hidden;
  border-radius: 5px;

  

}

.content{
  background-color: #142b48;
  display: flex;
  flex-direction: column;
  padding: 1rem 1rem;
  
  
 
  


}

.megamenu__item{
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  color: white;
}

.megamenu__item:hover{
  background-color: #142b48;
}
.header__megamenu{
  margin-bottom: 1rem;

}

.dropdown:hover  .megamenu{
  
  visibility: visible;
  transition: all 0.3s ease;
  opacity: 1;
  
}

@media screen and (max-width: 992px){
  .megamenu{
    justify-content: start;
    flex-wrap: wrap;
  }
  
}
@media screen and (max-width: 768px) {
  .megamenu{
    flex-direction: column;
    position: static;
    box-shadow: none;
    border-radius: 0;
    height: 0;
    max-width: 350px;
    overflow: hidden;
    background-color: #142b48;
  }
  .dropdown:hover .megamenu{
    height: 100%;
  }
  .nav__list{
    position: absolute;
    height: 100vh;
    width: 100%;
    left: -100%;
    max-width: 350px;
    top: 0;
    background-color: #142b48;
    flex-direction: column;
    overflow-x: hidden;
    display: block;
    transition: 0.3;

  }
  .toggle__menu,
  .close__menu{
  display: block;
  }
  .toggle__menu i :hover{
    color: #DC143C;
  }
  .toggle__menu i {
    font-size: 2rem;
  }
  .close__menu{
    margin: 1rem 1rem 1rem auto;
    background-color: #ff5151;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    text-align: center;
  }
  .close__menu i{
    line-height: 32px;
    color: white;
    font-size: 22px;
  }
  .close__menu:hover{
    color: red;
  }

  .show__menu{
    left: 0;
  }



}



/*Products*/  
h1{
  font-size: var(--h1-font-size);
  top: 100px;
}
a{
  text-decoration: none;

}
img{
  max-width: 100%;
  height: auto;
}
.title-shop{
  position: relative;
  margin: 0 2,5rem;
  color: white;
  font-family: 'Montserrat', sans-serif;
}

.main{
  padding: 2rem 0;
}
.bd-grid{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  max-width: 80%;
  margin-left: 2.5rem;
  margin-right: 2.5rem;
  align-items: center;
  gap: 2rem;
  margin-top: 6.5rem;
}

.card{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem 2rem;
  border-radius: 1rem;
  overflow: hidden;
  background-color: rgb(255, 255, 255);
  height: 23.375em;
}

.card__image{
  width: 180px;
  height: auto;
  padding: 3rem 0;
  transition: .5s;
}
.card__image img{
  max-width: 100%;
  height: 180px;
  width: 180px;
}
.card__precis{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  transition: .5s;
}
.card__icon{
  font-size: 1.5rem;
  color: var(--dark-color);

}
.card__icon:hover{
  color: var(--accent-color);
}
.card_preci{
  display: block;
  text-align: center;
  margin: 0 auto;
}
div.card__precis div{
  text-align: center;
  margin: 0 auto;
}
.card_preci--before{
  font-size: 1.2rem;
  color: black;
}
.card_preci--now{
  font-size: var(--h3-font-size);
  font-weight: bold;
  color: black;
}
.card:hover{
  box-shadow: none;
}
.card:hover .card__name{
  left: 0;
}
.card:hover .card__image{
  transform: rotate(25deg);
  margin-left: 3.5rem;
}  
.card:hover .card__precis{
  margin-left: 3.5rem;
}  
.card__name{
  position: absolute;
  left: -25%;
  top: 0;
  width: 3.5rem;
  height: 100%;
  writing-mode: horizontal-tb;
  transform: rotate(0deg);
  text-align: center;
  background-color: gray;
  color: var(--second-color);
  font-weight: bold;
  transition: .5s;
}
.card__name p{
  margin-top: 1em;
  font-size: 23px;
  height: 100%;
  align-items: center;
}
@media screen and (min-width: 1200px) {
 
  .title-shop{
      margin: 0 10rem;
  }
  .bd-grid{
      margin-left: auto;
      margin-right: auto;
  }
  
}
@media screen and (min-width: 768px) {
  :root{
  --h1-font-size: 2rem;
  --normal-font-size: 1rem;
  --smaller-font-size: 0.813rem;


  }
}