@import url('https://fonts.googleapis.com/css2?family=Anton&family=Maven+Pro:wght@500&family=Montserrat+Alternates:wght@500&family=Pathway+Gothic+One&family=Righteous&family=Rowdies&family=Titillium+Web:wght@200&display=swap');
@import "footer.css";

/*VARIABLES*/
:root{
  --first-color: #EDDBC0;
  --second-color: #dcfbef;
  --third-color: #ffe8df;
  --accent-color: #ff5151;
  --dark-color: #161616;
  --cceonnie: #3d6098;
  --before: #DC143C;
  --font:'Inter', sans-serif;
  --h1-font-size: 1.5rem;
  --h3-font-size: 1rem;
  --normal-font-size: 0.938rem;
  --smaller-font-size: 0.75rem;
}
::after,::before{
  box-sizing: border-box;
}
/*Main*/
body{
    background-image: url(images/BGImg.png);
    background-size: cover;
    color: var(--dark-color);
    font-family: var(--font);
    height: auto;
}

/*Navigation Bar*/
.container-fluid{
  padding: .5rem 0rem;
  background-color: white;
  margin-top: -.5rem;
}
#logo{
  height: 4.6rem;
  width: 4.6rem;
  margin-left: 2rem;
}
.nav-link{
  margin: 0rem 1rem;
  font-size: 1.3em;
  font-weight: bold;
  letter-spacing: 1px;
  color: gray;
  font-family: 'Maven Pro', sans-serif;
}
.nav-link:hover{
  border-bottom: .5px blue solid;
  color: blue;
}
#nav-link-highlight{
    border-bottom: .5px blue solid;
    background-color: rgb(238, 238, 238);
    color: blue;
}
#rightNB{
    margin-right: 2rem;
}

/*Products*/  
h1{
  font-size: var(--h1-font-size);
}
a{
  text-decoration: none;

}
img{
  max-width: 100%;
  height: auto;
}
.title-shop{
  position: relative;
  margin: 0 2,5rem;
}
.title-shop::after{
  content: '';
  position: absolute;
  top: 50%;
  width: 72px;
  height: 2px;
  background-color: var(--dark-color);
  margin-left: .25rem;
}
.main{
  padding: 2rem 0;
}
.bd-grid{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  max-width: 1200px;
  margin-left: 2.5rem;
  margin-right: 2.5rem;
  align-items: center;
  gap: 2rem;
}

.card{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem 2rem;
  border-radius: 1rem;
  overflow: hidden;
  background-color: var(--cceonnie);
  height: 23.375em;
}

.card__image{
  width: 180px;
  height: auto;
  padding: 3rem 0;
  transition: .5s;
}
.card__precis{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  transition: .5s;
}
.card__icon{
  font-size: 1.5rem;
  color: var(--dark-color);

}
.card__icon:hover{
  color: var(--accent-color);
}
.card_preci{
  display: block;
  text-align: center;
  margin: 0 auto;
}
div.card__precis div{
  text-align: center;
  margin: 0 auto;
}
.card_preci--before{
  font-size: var(--smaller-font-size);
  color: var(--before);
}
.card_preci--now{
  font-size: var(--h3-font-size);
  font-weight: bold;
  color: var(--second-color);
}
.card:hover{
  box-shadow: none;
}
.card:hover .card__name{
  left: 0;
}
.card:hover .card__image{
  transform: rotate(25deg);
  margin-left: 3.5rem;
}  
.card:hover .card__precis{
  margin-left: 3.5rem;
}  
.card__name{
  position: absolute;
  left: -25%;
  top: 0;
  width: 3.5rem;
  height: 100%;
  writing-mode: horizontal-tb;
  transform: rotate(0deg);
  text-align: center;
  background-color: var(--dark-color);
  color: var(--second-color);
  font-weight: bold;
  transition: .5s;
}
.card__name p{
  margin-top: 1em;
  font-size: 23px;
  height: 100%;
  align-items: center;
}
@media screen and (min-width: 1200px) {
 
  .title-shop{
      margin: 0 10rem;
  }
  .bd-grid{
      margin-left: auto;
      margin-right: auto;
  }
  
}
@media screen and (min-width: 768px) {
  :root{
  --h1-font-size: 2rem;
  --normal-font-size: 1rem;
  --smaller-font-size: 0.813rem;


  }
}